# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Node.js
node_modules/
dist/
npm-debug.log*

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Project Specific
models/
performance_results/
backend/__pycache__
